<!DOCTYPE html>
<html>
<head>
	<title>Agergar Comida</title>
	<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
	<script>
			var ref = new Firebase("https://tipico-saludable-50fb7.firebaseio.com/Comida");
			var refnuevo = ref.push({
				nombre: "arroz con huevo",
				imagen: "no hay",
				calorias: "200",
				carbohidratos: "100",
				proteinas: "80",
				descripcion: "arroz blancon con huevo freido en aceite",
				receta: "1 huevo, 100g de arroz",
			});

	</script>

</head>
<body>

</body>
</html>

